body {
  overflow-x: hidden;
}



.header {
  width: 100%;
  color: white;
  position: fixed;
  top: 0px;
  z-index: 6;
}

.header-logo {
  font-size: 30px;
  font-weight: bold;
  margin-left: 1rem;
}

.location-bar {
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: #F7F7F7;
  z-index: 4;
}

.city {
  font-size: 30px;
  font-weight: bold;
  color: white;
  /* padding-top: 40px; */
  /* padding-left: 140px; */
  padding-top:5px;
  padding-right:10px;
  display: inline-block
}

embed {
  display: inline-block;
  /* margin-right: 20px; */
  position: absolute;
  z-index: 6;
  right: 235px;
}
.main {
  position: relative;
  width: 100%;
  margin-left: 7rem;
  margin-top: 8rem;
  /* padding-top: 20px; */
  background-color: #F7F7F7;
  z-index: 2;
}

.leftcol {
  overflow-y: scroll;
}

.graphs {
  padding: 30px 20px 40px 20px;
  background-color: white;
  /* border-style: solid; */
  /* border-width: thin; */
  /* border-color: darkgray; */
  border-radius: 10px;
  box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.07);
}

.graph-chart {
  padding-top: 10px;
}

.rightcol {
  background-color: white;
  /* border-style: solid; */
  /* border-width: thin; */
  /* border-color: darkgray; */
  box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.07);
  border-radius: 10px;
  /* padding: 5px 10px; */
  position: fixed;
  right: 10px;
  width: 59%;
  height: 80vh;
}

button {
  border-radius: 99px;
  /* background-color: #FF1A21; */
  background-color: #FF5A60;
  color: white;
  opacity: 0.6;
  outline: none;
}

button:hover {
  opacity: 1;
}

button:active {
  outline: none;
   border: none;
}

button:focus {
  outline:0;
}

#map {
  position: relative;

  padding: 10px;

  height: inherit;
  /* padding: 10px; */

  overflow: hidden;
  width: 100% !important;
}

.side-menu {
  position: fixed;
  top: 72px;
  width: 7rem;
  height: 100%;
  background-color: white;
  z-index: 6;
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: #F7F7F7;
}

@media (min-width: 768px) {
  .header {
      justify-content: space-between;
      height: 60px;
  }
}body {
  padding: 0;
  margin: 0;
}

body,
html {
  position: relative;
  height: inherit;
  width: inherit;
}

.leaflet-popup-content {
  text-align: center;
}

/* CSS from the Leaflet-Choropleth documentation */
.legend {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #555;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend ul {
  padding: 0px 40px;
  margin: 0;
  clear: both;
  list-style-type: none;
  align-items: center;
}

.legend li {
  display: inline-block;
  width: 30px;
  height: 22px;
  align-items: center;
}

.legend .min {
  float: left;
  padding-bottom: 5px;
}

.legend .max {
  float: right;
}


h1 {
  text-align: center;
  font-size: 1.8rem;
}

.axis {
  font: 12px sans-serif;
}

.line {
  fill: none;
  stroke: #FF5A60;
  stroke-width: 2px;
}
